body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #55c57a;
}

.head-container {
  display: flex;
  flex-direction: column;
}

.head-wrapper {
  display: flex;
  flex-direction: column;

  margin: 4rem auto;
}

.header-text {
  font-size: 2.5rem;
}

.underline {
  align-self: start;
  background: #071e55;
  height: 0.4rem;
  width: 4rem;
  margin-top: 0;
  margin-left: 5px;
}

@media screen and (max-width: 1000px) {
  .quick {
    display: none;
  }
}

.form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.form form .input {
  padding: 1rem;
  width: 85vw;
  border: none;
  margin: 1rem auto;
  background-color: #55c57a;
  border-bottom: 5px solid #071e55;
  border-radius: 5px;
  outline: none;
  color: #071e55;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

form input[type="password"] {
  background-color: #55c57a;
  color: #071e55;
}

form .input:focus {
  outline: 0;
  transition: all 0.6s;
  border-bottom: 5px solid #fff;
}

.signin-btn {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.signin-btn button {
  flex: 1;
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #fff;
  border-radius: 4px;
  background-color: #212529;
  margin-bottom: 1.2rem;
  transition: all 0.5s;
}

.signin-btn button:hover {
  background-color: #212121;
}
.last-text {
  font-size: 1.3rem;
  color: #071e55;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
}

.signup-btn {
  border: none;
  color: #ff4500;
  padding: 0.6rem;
  font-weight: bold;
  font-variant: small-caps;
}

.footer {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  top: 88%;
  background: #071e55;
  margin-bottom: 0;
  width: 100%;
}

@media screen and (max-width: 300px) {
  .signin-btn button {
    font-size: 1rem;
    padding: 1rem;
  }
  .foot {
    margin-left: 1rem;
  }
}

.foot {
  width: 95vw;
  list-style: none;
  padding: 0;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: 0 auto;
  padding-top: 1rem;
}

.suport p {
  font-size: 0.9rem;
}
.foot li a {
  color: #f5f7fc;
  text-decoration: none;
  transition: all 0.6s;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-variant: small-caps;
}

.footer p {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #28b485;
  font-weight: 700;
}

.footer p:nth-child(2) {
  font-size: 1rem;
}

.footer p:nth-child(3) {
  font-size: 1.4rem;
}

@media screen and (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-top: 0;
    border: 1px solid red;

    height: 100vh;
  }

  .head-container {
    width: 50vw;
    display: flex;
    justify-content: space-between;
  }

  .form {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .form form .input {
    width: auto;
  }

  .line {
    height: 80vh;
    position: absolute;
    margin-bottom: 2rem;
    top: 0;
    border-right: 5px solid #fff;
    left: 50vw;
  }

  .head-wrapper {
    position: relative;
    top: -5rem;
  }

  .quick {
    margin-top: 5rem;
  }

  .things label {
    font-size: 2rem;
    color: #071e55;
    font-weight: bold;
    text-transform: capitalize;
    font-variant: small-caps;
  }

  .things ul {
    list-style: none;
    line-height: 3rem;
  }

  .things ul li {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
    color: #212529;
  }

  .things ul li i {
    color: #071e55;
    font-size: 2rem;
    margin-right: 1rem;
  }
}
